body {
  text-align: center;
  background: url('/bg.gif') center center repeat fixed;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.next {
  background-color: green;
  font-size: 22px;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
