body {
  text-align: center;
  background: url(http://www.coolholidaygraphics.com/birthday/backgrounds/happybirthday3.gif) center center repeat fixed;
}

img {
  max-width: 100%;
  display: inline-block;
}

.next {
  background-color: green;
  font-size: 22px;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
